body{
    background-image: radial-gradient( circle 962px at 2.9% 6.8%,  rgba(221,221,221,1) 0%, rgba(202,222,229,1) 92.9% );

}


.gridsystem {
    padding-top: 3%;
    display: grid;
    grid-template-columns: auto auto auto;
  }
  
  .gridsystem>div{
      padding-top: 10%;
      padding-bottom: 10%;
       margin-left: auto;   
       margin-right: auto;
      
  }

  .iframerounded iframe{
    border-radius: 30px; 
    width: 350px; 
    overflow: hidden;
  }


  @media screen and (max-width: 680px){
    ul.topnav li:not(:nth-child(1)){
        display:none;
    }
    ul.topnav li.dropdownIcon{
        display:block;
        float: right;
    }

    ul.topnav.responsive li.dropdownIcon{
        position: absolute;
        top:0;
        right:0;
    }
ul.topnav.reponsive{
    position: relative;
}
ul.topnav.responsive li{
    display: inline;
    float: none;
}
ul.topnav.responsive li a{
    display: block;
    text-align:left;

}   



  }

