


.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
  }

  

  .first{
    
    background-color: #CFF5F8;
  }

  .img-fluid{
    object-fit: cover;
    height: 93vh;
    width: 100%;
  }  

/*second section */ 
 
.origins{
  padding-top: 25px ;
}

.originmainpadding{
  color: white;
  padding-top: 20px;
  text-align: center;
}

.originwritingpadding{
  font-family: sans-serif;
  font-size: 15px;
  color: white;
  padding-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}

#origins{
  background-color: #E2F7E3;
}

.originsheader{
  padding-top: 30px;
  text-align: center;
}

div#colorbox.box{
  background: #2F3540;
  border-radius: 10px;
  height: 400px;
}

div.row.origins{
  padding-bottom: 150px;
}

.col-xs-12{
  padding-bottom: 20px;
}
/*second section */ 

#beatsbox{
  background:blanchedalmond;
  border-radius: 10px;
  height: 250px;
  width: 250px;
}








