/**Default layout**/
body{
    line-height: 1;
    margin: 0;
    font-family: 'Archivo', sans-serif;
}




/* custom */
.colomn{
    float: left;
    display: block;
}
.left{
    width: 40%;
    height: 43em;
}
.right{
    width: 60%;
    height: 43em;
}
.row::after{
    content:"";
    display: table;
    clear: both;
}
div.colomn h1{
   text-align: center;
   font-family: 'Archivo', sans-serif;
   font-size: 2.5em;
  
}   
.right img{
    object-fit: cover;
    height: 43rem;
    width:100%;
}
#firstcol{
background-color: rgb(255, 255, 255);
position: relative;
}
.odisbeats h1{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;   
    height: 10%;
    margin: auto;
}
.odisbeats ul{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 35%;
    right: 0;   
    height: 0%;
    margin: auto;
    padding-top: 5%;
    line-height: 20px;
}
/* second secrion */
 .container{
    width: 100%;
    height:50rem;
    display:block;
    position: relative;
    background: black;
 }
.container img{
    object-fit: cover;
    opacity: 0.6;
    height: 50rem;
    width: 100%;
}
.container .containertext{
        color: white;
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;        
        text-align: center;
        top: 5%; 
        width: 60%; 
}
.container p{
    font-size: large;
    line-height: 150%;
}
.garageband{
    margin-top: -6%;
    width: 33.33%;
    height: 10em;
}
.fl{
    margin-top: -6%;
    width: 33.33%;
    height: 10em;
}
.guitar{
    margin-top: -0%;
    width: 33.33%;
    height: 20em;
}
.iframerounded{
    border-radius: 30px; 
    width: 400px; 
    overflow: hidden;
    margin-left: auto;   
       margin-right: auto;
}
.contain{
    color: white;
    position: absolute;
    z-index: 999;
    margin: 0;
    left: 0;
    right: 0;        
    text-align: center;
    top: 40%; 
  
}
/*third section */
.thirdcontainer{
    display: block;
    width: auto;
    height: 30rem;
    background: rgb(251,218,232);
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(148,187,233,1) 100%);
    font-size: 0;
}

